<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.permissionsample">

    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PermissionSample"
        tools:targetApi="31">

        <activity
            android:name=".runtimeBasicKotlin.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".runtimeBasicKotlin.RuntimeBasicKotlin"
            android:exported="false"
            android:label="@string/title_activity_runtime_basic_kotlin"
            android:theme="@style/Theme.PermissionSample.NoActionBar" />
        <activity
            android:name=".runtimeBasicJava.RuntimeBasicsJava"
            android:exported="false" />
        <activity
            android:name=".permissionsActivityResult.PermissionsActivityResult"
            android:exported="false" />
        <activity
            android:name=".dataAccessAuditing.DataAccessAuditing"
            android:exported="false"
            android:label="@string/title_activity_data_access_auditing"
            android:theme="@style/Theme.PermissionSample.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>